<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mypc.materialdesigncolors">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".RedActivity"
            android:label="Red"
            android:theme="@style/Red_ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".PinkActivity"
            android:label="Pink"
            android:theme="@style/Pink_ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".PurpleActivity"
            android:label="Purple"
            android:theme="@style/Purple_ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".DeepPurpleActivity"
            android:label="Deep Purple"
            android:theme="@style/Deep_Purple_ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".IndigoActivity"
            android:label="Indigo"
            android:theme="@style/Indigo_ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".BlueActivity"
            android:label="Blue"
            android:theme="@style/Blue_ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".LightBlueActivity"
            android:label="Light Blue"
            android:theme="@style/Light_Blue_ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".CyanActivity"
            android:label="Cyan"
            android:theme="@style/Cyan_ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".TealActivity"
            android:label="Teal"
            android:theme="@style/Teal_ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".GreenActivity"
            android:label="Green"
            android:theme="@style/Green_ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".LightGreenActivity"
            android:label="Light Green"
            android:theme="@style/Light_Green_ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".LimeActivity"
            android:label="Lime"
            android:theme="@style/Lime_ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".YellowActivity"
            android:label="Yellow"
            android:theme="@style/Yellow_ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".AmberActivity"
            android:label="Amber"
            android:theme="@style/Amber_ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".OrangeActivity"
            android:label="Orange"
            android:theme="@style/Orange_ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".DeepOrangeActivity"
            android:label="Deep Orange"
            android:theme="@style/Deep_Orange_ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".BrownActivity"
            android:label="Brown"
            android:theme="@style/Brown_ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".GreyActivity"
            android:label="Grey"
            android:theme="@style/Grey_ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity
            android:name=".BlueGreyActivity"
            android:label="Blue Grey"
            android:theme="@style/Blue_Grey_ActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

    </application>

</manifest>
